/* General Layout */
* {
    font-family: "Verdana", sans-serif;
    color: #124E78;
    box-sizing: border-box;
    background-color: #fbfff7;
}

main {
    width: 40rem;
    margin: auto;
    display: flex;
    gap: 1rem;
    padding: 1rem;
    border-radius: 8px;
}

footer {
    width: 40rem;
    text-align: center;
    margin: auto auto auto;
    padding: 0.5rem;
    font-weight: bold;
    color: #124E78;
    border-top: 1px solid #124E78;
}

nav {
    font-size: large;
    text-align: center;
    margin-bottom: 1rem;
}

nav a {
    text-decoration: none;
    color: #4682A9;
    padding: 0 0.5rem;
}

/* Employee Data Container */
#employee-data {
    width: 100%;
    padding: 1rem;
    border: 1px solid #91C8E4;
    border-radius: 8px;
    overflow-y: auto;
    max-height: 30rem;
}

/* Employee Entry Styling */
#employee-entry {
    border: 1px solid #96caea;
    border-radius: 5px;
    height: 8rem;
    display: flow-root;
    img {
        margin-right: 0.5rem;
    }
    align-items: center;
    padding: 0.1rem;
    width: 100%;
    margin-bottom: 0.5rem;
}


/* Image Styling */
#employee-entry img {
    height: 60px;
    width: 60px;
    border-radius: 10px;
    object-fit: cover;
    margin-left: -5rem;
}

#employee-entry a {
    text-decoration: none;
    float: right;
    text-align: right;
    width: 100%;
}

header {
    border-bottom: 1px solid #96caea;
    margin-bottom: 1rem;
}

#formDiv {
    gap: 1rem;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    border-radius: 8px;
    border: 1px solid #96caea;
    width: 40rem;
    align-content: center;
    form {
        width:18.6rem;
        margin: auto auto auto;
    }
}

#submit {
    padding-top: 1rem;
    float: right;
}

#submitDelete {
    background-color: #ffa1a1;
    border: 2px solid #570404;
    margin-left: 1rem
}

select {
    gap: 1rem;
    width: 18.6rem;
    height: 1.3rem;
}

textarea {
    width: 18.6rem;
    text-align: left;
}

#editButton {
    width: 20rem;
    float: right;
    margin-top: -6rem;
    margin-left: 10rem;
    text-align: right;
}

#error-block {
    width: 35rem;
    align-self: center;
    margin: auto auto auto;
    border: 1px solid #570404;
    background-color: #ffa1a1;
    height: 2rem;
    color: darkred;
    border-radius: 8px;
    font-size: 12px;
    padding: 0.5rem;
    display: grid;
}

#message-block {
    width: 35rem;
    align-self: center;
    margin: auto auto auto;
    border: 1px solid #003f00;
    background-color: lightgreen;
    height: 2rem;
    color: darkgreen;
    border-radius: 8px;
    font-size: 12px;
    padding: 0.5rem;
    display: grid;
}

#taskNumber {
    height: 1.75rem;
    width: 2.5rem;
    background-color: #e7e7e7;
    align-content: center;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    padding-left: 0.5rem;
    border: 1px;
    border-radius: 15px;
}

#role {
    display: grid;
    align-self: end;
    horiz-align: left;
    float: left;
}


#employee-entry div {
    vert-align: top;
    height: 1.5rem;
    margin-left: 5rem;
    margin-bottom: 0.5rem;
}